/* -------------------------------------------------------------------------- */
/*                                   COLORS                                   */
/* -------------------------------------------------------------------------- */

/* --------------------------------- PRIMARY -------------------------------- */

$p-dark: #323232;
$p-medium: #AFAFAF;
$p-light: #FFF;
$p-highlight: #0095FF;

/* -------------------------------- SECONDARY ------------------------------- */

$s-dark: #000;
$s-medium: #E1E1E1;
$s-light: #FAFAFA;
$s-highlight: #0065AD;

/* -------------------------------------------------------------------------- */
/*                                   PADDING                                  */
/* -------------------------------------------------------------------------- */

$m-padding: 1rem;

$d-padding: 1.5rem;