@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.header {
    background-color: $s-dark;

    &__wrap {
        @include flex(space-between);
        gap: $m-padding;
        padding: $m-padding;
        
        @include tablet {
            @include desktop-container;
            gap: $d-padding;
            padding: $d-padding;
        }
    }

    &__logo-wrap {
        @include flex();
        gap: $m-padding;
    }

    &__arrow {
        width: 1.5rem;
    }

    &__list {
        @include flex();
        gap: $m-padding;
    }
}