@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.slider-section {
    text-align: center;
    margin:  calc($m-padding * 4) $m-padding; 

    @include tablet {
        @include desktop-container();
        margin-top: calc($d-padding * 4) ; 
        margin-bottom: calc($d-padding * 4) ; 
    }

    &__header {
        @include m-header;

        @include tablet {
            @include d-page-header
        }
    }
}

.card {
    @include flex();
    flex-direction: column;
    margin: calc($m-padding /2 );
    padding: $m-padding;
    background: white;
    border-radius: 20px;
    transition: $transition;
    box-shadow: rgba($p-dark, 0.2) 0px 2px 8px 0px;
    overflow: hidden ;
    position: relative;

    &:hover {
        box-shadow: rgba($p-dark, 0.4) 0px 3px 8px;
    }

    &__add {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 98;
        background-color: $p-dark;
        transition: $transition;
        border-radius: 50%;
        @include flex();
        cursor: pointer;

        &:hover {
            background-color: $p-light;
        }

        &-icon {
            width: 20px;
        }
    }

    &__link {
        width: 100%;
        @include flex();
        flex-direction: column;
    }

    &__image{
        width: 10rem;
        margin: $m-padding 0;

        @include tablet {
            margin: $d-padding 0;
        }
    }

    &__text {
        @include flex();
        flex-direction: column;
        gap: calc($m-padding / 2);
        width: 100%;
        margin-top: $m-padding;
    }

    &__name {
        @include section-header();
        font-size: 1.2rem;
        line-height: 1.5rem;
        text-align: center;
        margin: 0;
        width: 65%;
    }
}