@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;


.results {
    @include flex();
    flex-wrap: wrap;
    padding: $m-padding;

    @include tablet {
        padding: $d-padding;
    }

    & .card {
        width: 300px;
    }
}