@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;


.results {
    @include flex($align: flex-start);
    flex-wrap: wrap;
    padding: $m-padding;
    margin:  calc($m-padding * 4) $m-padding; 

    @include tablet {
        padding: $d-padding;
    }

    & .card {
        width: 300px;
    }
}